<table class="table table-hover">
  <thead>
    <tr>
      <th>Caller Phone</th>
      <th>Caller Assoc</th>
      <th>CSR Name</th>
      <th>Date Of Call</th>
      <th>Call Category</th>
      <th>Call Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let call of CallTrackers">
      <td>{{call.CallerPhone}}</td>
      <td>{{call.CallerAssocID}}</td>
      <td>{{call.user_name}}</td>
      <td>{{call.DateOfCall}}</td>
      <td>{{call.CallCategoryID}}</td>
      <td>{{call.CallStatusID}}</td>
    </tr>
  </tbody>
</table>