<table class="table table-responsive-sm ">
  <thead>
    <tr>
      <th>Caller Phone</th>
      <th>Caller Assoc</th>
      <th>CSR Name</th>
      <th>Date Of Call</th>
      <th>Call Category</th>
      <th>Call Status</th>
    </tr>
  </thead>
  <tbody *ngIf="TableShow">
    <tr *ngFor="let call of CallTrackers">
      <td><input type="text" (keyup)="onKey($event,call)" [(ngModel)]="call.CallerPhone"></td>
      <td>
        <select (change)="updateCallTracker(call)" class="form-control" [(ngModel)]="call.CallerAssocID">
          <option value="0">-- Select One --</option>
          <option *ngFor="let assocs of CallAssocs" [value]="assocs.CallerAssocID">{{assocs.CallerAssocDesc}}</option>
        </select>
      </td>
      <td>
        <select (change)="updateCallTracker(call)" name="" class="form-control" [(ngModel)]="call.user_name">
          <option value="">-- Select One --</option>
          <option *ngFor="let users of BTAMUsers" [value]="users.UserName">{{users.UserName}}</option>
        </select>
      </td>
      <td>{{call.DateOfCall | date:'MM/dd/yyyy'}}</td>
      <td><select (change)="updateCallTracker(call)" name="" class="form-control" [(ngModel)]="call.CallCategoryID">
          <option value="">-- Select One --</option>
          <option *ngFor="let categ of CallCategories" [value]="categ.CallCategoryID">{{categ.CallCategoryDesc}}</option>
        </select></td>
      <td>
        <select (change)="updateCallTracker(call)" name="" class="form-control" [(ngModel)]="call.CallStatusID">
          <option value="">-- Select One --</option>
          <option *ngFor="let stats of CallStatuses" [value]="stats.CallStatusID">{{stats.CallStatusDesc}}</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>
