<table class="table table-hover">
  <thead>
    <tr>
      <th>Caller Phone</th>
      <th>Caller Assoc</th>
      <th>CSR Name</th>
      <th>Date Of Call</th>
      <th>Call Category</th>
      <th>Call Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let call of CallTrackers">
      <td>{{call.CallerPhone}}</td>
      <td>{{call.CallerAssoc}}</td>
      <td>{{call.user_name}}</td>
      <td>{{call.DateOfCall | date:'MM/dd/yyyy'}}</td>
      <td>{{call.CallCategory}}</td>
      <td>{{call.CallStatus}}</td>
    </tr>
  </tbody>
</table>