<div class="col-md-12">
  <div class="row">
    <div class="col-md-12">
      <h3>Search</h3>
      <hr style="border-bottom: 1px solid #2196F3; margin-left: -15px; margin-right: -15px; " />
    </div>
  </div>
  <div class="row" >
    <div id="sidebanner" class="col-md-2">
    <!--nav pills-->
    <div class="nav nav-pills nav-stacked"> 
      <div>        
        <label class="control-label">From Date</label>
        <input type="text" id="fromDate" (change)="getFromDate($event)" value="{{fromDate | date:'MM/dd/yyyy'}}" />
        <!-- <input type="text" (ngModelChange)="fromDate=$event" [ngModel]="fromDate | date:'MM/dd/yyyy'" /> -->
      </div>
      <div>
        <label class="control-label">To Date</label>
        <!-- <input type="date" id="toDate" (change)="getToDate($event)" value="{{toDate | date:'MM/dd/yyyy'}}" /> -->
        <input type="text" id="toDate" (change)="getToDate($event)" value="{{toDate | date:'MM/dd/yyyy'}}" />
      </div>
      <div>
        <label class="control-label">Group By</label>
        <select class="form-control input-sm" (change)="changeGroup($event)">  
            <option selected="0">--  Select --</option>          
            <option *ngFor="let group of groupList" [value]="group.Id">{{group.Name}}</option>
          </select>
      </div>
      <br />
      <div>
          <button (click)="search()" type="submit" class="btn btn-primary Search"><i
            class="fa fa-search"></i>&nbsp;Search</button>
      </div>
    </div>
      
        <br />
    </div>
    <!-- </div>
        <div class="row"> -->
    <div class="col-md-10">
      <div class="tab-content">
        <groupall *ngIf="this.groupId==1" [calls]="calls" ></groupall>
        <callerassocs *ngIf="this.groupId==2" [calls]="calls"></callerassocs>
        <csrnames *ngIf="this.groupId==3" [calls]="calls"></csrnames>
        <callstatuses *ngIf="this.groupId==4" [calls]="calls"></callstatuses>
        <callcategories *ngIf="this.groupId==5" [calls]="calls"></callcategories>
      </div>
    </div>
  </div>
</div>
