<table *ngFor="let csr of grpCSRNames" class="table table-responsive-sm ">
    <thead>
      <tr>
        <th>CSR Name</th>
        <th>Caller Assoc</th>
        <th>Call Category</th>
        <th>Call Status</th>
        <th>Caller Phone</th>
        <th>Date Of Call</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{csr.CSRName}}</td>
      </tr>
      <tr *ngFor="let d of csr.CSRNameDetails">
        <td></td>
  
  
        <td>
          {{d.CallerAssoc}}
        </td>
        <td>
          {{d.CallCategory}}
        </td>
        <td>
          {{d.CallStatus}}
        </td>
        <td>
          {{d.CallerPhone}}
        </td>
        <td>
          {{d.DateOfCall|date :'MM/dd/yyyy'}}
        </td>
  
      </tr>
    </tbody>
  </table>
  
  